.home__projects__project {
  color: $col-boulder;

  &__label {
    @extend %description-12;
    line-height: 1.3;
    display: flex;
    justify-content: flex-end;
  }

  &__label {
    margin-top: 3.2rem;
    padding-right: 17.2rem;

    .label-1 {
      max-width: 84.3rem;
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  }

  &__link {
    &.gradient {
      .title__main {
        background: $gradient;
        overflow: hidden;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: background 0.3s;

        .slide-up {
          &::before {
            background: $col-orange;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }
      }
    }

    .title__main {
      position: relative;
      .slide-up {
        position: absolute;
        top: 0;
        left: 0;
        overflow: hidden;
        transform: translateY(100%);
        transition: transform 275ms ease;

        &::before {
          display: inline-block;
          content: attr(data-content);
          white-space: nowrap;
          color: $col-orange;
          transform: translateY(-100%);
          transition: transform 275ms ease;
        }
      }
    }

    &:hover {
      .title__main {
        .slide-up {
          transform: translateY(0);

          &::before {
            transform: translateY(0);
          }
        }
      }
    }
  }

  &__title {
    @extend %title-160;
    line-height: 1;
    white-space: nowrap;
    text-transform: uppercase;
    padding-top: 6.4rem;
    padding-bottom: 4.5rem;
    .inline-ovh {
      display: inline-flex;
      overflow: hidden;
    }
  }
}
