html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}
*::before, *::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

@font-face {
  font-family: "Open Sauce";
  src: url("/opensauce-medium.44f5cd74.woff2") format("woff2"), url("/opensauce-medium.44f5cd74.woff2") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sauce";
  src: url("/opensauce-regular.7ba35d01.woff2") format("woff2"), url("/opensauce-regular.7ba35d01.woff2") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
html {
  font-size: calc(100vw / 1440 * 10);
}
@media (max-width: 425px) {
  html {
    font-size: calc(100vw / 425 * 10);
  }
}

body {
  font-family: "Open Sauce", sans-serif;
  font-weight: 500;
  min-height: 100vh;
  font-size: 1.6rem;
  background: #111111;
  color: #aaaaaa;
}

html.has-scroll-smooth {
  overflow: hidden;
}

html.has-scroll-dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.has-scroll-smooth body {
  overflow: hidden;
}

.has-scroll-smooth [data-scroll-container] {
  min-height: 100vh;
}

.c-scrollbar {
  position: absolute;
  right: 0;
  top: 0;
  width: 11px;
  height: 100vh;
  transform-origin: center right;
  transition: transform 0.3s, opacity 0.3s;
  opacity: 0;
}

.c-scrollbar:hover {
  transform: scaleX(1.45);
}

.c-scrollbar:hover,
.has-scroll-scrolling .c-scrollbar,
.has-scroll-dragging .c-scrollbar {
  opacity: 1;
}

.c-scrollbar_thumb {
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  opacity: 0.5;
  width: 7px;
  border-radius: 10px;
  margin: 2px;
  cursor: -webkit-grab;
  cursor: grab;
  display: none;
}

.has-scroll-dragging .c-scrollbar_thumb {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.home__awards h3, .home__hero .hero__title .bottom__left, .home__hero .hero__title__left, .home__hero .hero__title__right, .home__hero .hero__title__dash {
  font-size: 32.8rem;
  font-family: "Bebas Neue", cursive;
}

.home__projects__project__title {
  font-size: 16rem;
  font-family: "Bebas Neue", cursive;
  letter-spacing: -0.025em;
}

.home__projects__project__label, .home__stack__paragraph .first-word, .home__content__title, .home__hero .hero__paragraph .first-word, .home__nav {
  font-size: 12px;
  font-family: "Open Sauce";
  line-height: 1.3;
}

.home__stack, .home__hero .hero__title .bottom__right {
  font-family: "Open Sauce";
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3;
}

.home__awards p, .home__content__desc {
  font-family: "Open Sauce";
  font-size: 3.2rem;
  line-height: 1.3;
  letter-spacing: -0.025em;
}

.home__awards a, .home__stack__paragraph a, .home__content__desc a {
  color: #777777;
  transition: color 0.3s;
}
.home__awards a:hover, .home__stack__paragraph a:hover, .home__content__desc a:hover {
  color: #cb450c;
}

.c-button {
  display: inline-block;
  background: transparent;
  color: #aaaaaa;
  font-size: 16px;
  text-transform: uppercase;
  padding: 5px 8px;
  border: 2px solid #777777;
  border-radius: 45px;
  cursor: pointer;
  transition: all 0.3s;
}
.c-button:hover {
  border-color: #cb450c;
  color: #111111;
  background: #cb450c;
}
.c-button .c-link {
  display: inline-flex;
  align-items: center;
  position: relative;
  z-index: 1;
  overflow: auto;
}
.c-button .c-link__inner {
  display: flex;
  transform: translateY(0);
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.c-button .c-link__inner > span {
  /* white-space: nowrap; */
  margin-right: 2px;
}
.c-button .c-link__animated {
  /* white-space: nowrap; */
  position: absolute;
  top: 100%;
}
@media (min-width: 769px) {
  .c-button:hover .c-link__inner {
    transform: translateY(-100%);
  }
}

.c-infinite .c-link {
  display: inline-flex;
  align-items: center;
  position: relative;
  z-index: 1;
  overflow: auto;
}
.c-infinite .c-link__inner {
  display: flex;
  transform: translateY(-100%);
  animation: infiniteArrow 1s infinite cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.c-infinite .c-link__inner > span {
  /* white-space: nowrap; */
  margin-right: 2px;
}
.c-infinite .c-link__animated {
  /* white-space: nowrap; */
  position: absolute;
  top: 100%;
}
@keyframes infiniteArrow {
  100% {
    transform: translateY(0);
  }
}

.home {
  padding: 24px 40px;
  margin: 0 auto;
}
.home__nav {
  margin-bottom: 6.4rem;
  display: flex;
  justify-content: space-between;
  line-height: 1.4;
}
.home__nav__left, .home__nav__right {
  display: flex;
  text-transform: uppercase;
  justify-content: space-between;
}
.home__nav__left {
  max-width: 490px;
  width: 100%;
  margin-right: 50px;
}
.home__nav__right {
  max-width: 325px;
  width: 100%;
}
.home__nav .nav__folio, .home__nav .nav__availability {
  color: #777777;
}
.home__hero {
  margin-bottom: 9.6rem;
}
.home__hero .hero__title {
  line-height: 0.9;
  color: #777777;
}
.home__hero .hero__title .hero__hover {
  transition: color 0.2s;
}
.home__hero .hero__title .hero__hover:hover {
  color: #aaaaaa;
}
.home__hero .hero__title__left, .home__hero .hero__title__right, .home__hero .hero__title__dash {
  display: inline-block;
  letter-spacing: -0.105em;
}
.home__hero .hero__title__dash {
  transform: scaleX(1.05);
}
.home__hero .hero__title__top {
  display: flex;
  justify-content: space-between;
  padding-right: 30px;
}
.home__hero .hero__title__top, .home__hero .hero__title__bottom {
  width: 100%;
}
.home__hero .hero__title__top__overflow, .home__hero .hero__title__bottom__overflow {
  display: inline-flex;
  width: 100%;
}
.home__hero .hero__title__bottom {
  display: flex;
  justify-content: space-between;
}
.home__hero .hero__title .bottom__left {
  letter-spacing: -0.105em;
  flex-shrink: 0;
}
.home__hero .hero__title .bottom__right {
  position: relative;
  z-index: 1;
  max-width: 32.5rem;
  width: 100%;
  padding: 2rem 0 5rem;
  display: flex;
  flex-direction: column;
}
.home__hero .hero__paragraph {
  color: #aaaaaa;
}
.home__hero .hero__paragraph span {
  color: #777777;
  text-transform: uppercase;
}
.home__hero .hero__scroll {
  margin-top: auto;
  color: #777777;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home__projects__line {
  position: relative;
  display: inline-block;
  width: 100%;
}
.home__projects__line span {
  height: 2px;
  background: #777777;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  display: inline-block;
}
.home__projects__line.right span {
  left: unset;
  right: 0;
}
.home__content {
  padding: 24rem 0;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.home__content__title {
  text-transform: uppercase;
  color: #777777;
  margin-bottom: 24px;
}
.home__content__desc {
  max-width: 95rem;
  width: 100%;
}
.home__stack {
  max-width: 1044px;
  margin-left: auto;
  padding-top: 16rem;
  padding-bottom: 24rem;
}
.home__stack__paragraph {
  color: #aaaaaa;
  max-width: 32.5rem;
}
.home__stack__paragraph span,
.home__stack__paragraph a {
  color: #777777;
  text-transform: uppercase;
}
.home__awards__top, .home__awards__bottom {
  display: flex;
  justify-content: space-between;
}
.home__awards h3 {
  color: #777777;
  letter-spacing: -0.05em;
  line-height: 0.9;
}
.home__awards p {
  align-self: flex-end;
  max-width: 55.5rem;
  padding-bottom: 5.5rem;
}

.home__projects__project {
  color: #777777;
}
.home__projects__project__label {
  line-height: 1.3;
  display: flex;
  justify-content: flex-end;
}
.home__projects__project__label {
  margin-top: 3.2rem;
  padding-right: 17.2rem;
}
.home__projects__project__label .label-1 {
  max-width: 843px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.home__projects__project__link.gradient .title__main {
  background: linear-gradient(90deg, rgba(233, 227, 198, 0.5) 0%, rgba(233, 198, 217, 0.5) 100%);
  overflow: hidden;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: background 0.3s;
}
.home__projects__project__link.gradient .title__main .slide-up::before {
  background: #cb450c;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.home__projects__project__link .title__main {
  position: relative;
}
.home__projects__project__link .title__main .slide-up {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  transform: translateY(100%);
  transition: transform 275ms ease;
}
.home__projects__project__link .title__main .slide-up::before {
  display: inline-block;
  content: attr(data-content);
  white-space: nowrap;
  color: #cb450c;
  transform: translateY(-100%);
  transition: transform 275ms ease;
}
.home__projects__project__link:hover .title__main .slide-up {
  transform: translateY(0);
}
.home__projects__project__link:hover .title__main .slide-up::before {
  transform: translateY(0);
}
.home__projects__project__title {
  line-height: 1;
  white-space: nowrap;
  text-transform: uppercase;
  padding-top: 6.4rem;
  padding-bottom: 4.5rem;
}
.home__projects__project__title .inline-ovh {
  display: inline-flex;
  overflow: hidden;
}

/*# sourceMappingURL=/scss.6b84482b.css.map */