html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}
*::before, *::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

@font-face {
  font-family: "Open Sauce";
  src: url("/opensauce-medium.44f5cd74.woff2") format("woff2"), url("/opensauce-medium.44f5cd74.woff2") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sauce";
  src: url("/opensauce-regular.7ba35d01.woff2") format("woff2"), url("/opensauce-regular.7ba35d01.woff2") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
html {
  font-size: calc(100vw / 1440 * 10);
}
@media (max-width: 550px) {
  html {
    font-size: calc(100vw / 550 * 10);
  }
}
@media (max-width: 375px) {
  html {
    font-size: calc(100vw / 375 * 10);
  }
}

body {
  font-family: "Open Sauce", sans-serif;
  font-weight: 500;
  min-height: 100vh;
  font-size: 1.6rem;
  background: #111111;
  color: #aaaaaa;
}

html.has-scroll-smooth {
  overflow: hidden;
}

html.has-scroll-dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.has-scroll-smooth body {
  overflow: hidden;
}

.has-scroll-smooth [data-scroll-container] {
  min-height: 100vh;
}

.c-scrollbar {
  position: absolute;
  right: 0;
  top: 0;
  width: 11px;
  height: 100vh;
  transform-origin: center right;
  transition: transform 0.3s, opacity 0.3s;
  opacity: 0;
}

.c-scrollbar:hover {
  transform: scaleX(1.45);
}

.c-scrollbar:hover,
.has-scroll-scrolling .c-scrollbar,
.has-scroll-dragging .c-scrollbar {
  opacity: 1;
}

.c-scrollbar_thumb {
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  opacity: 0.5;
  width: 7px;
  border-radius: 10px;
  margin: 2px;
  cursor: -webkit-grab;
  cursor: grab;
  display: none;
}

.has-scroll-dragging .c-scrollbar_thumb {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.home__awards .awards-title, .home__hero .hero__title .bottom__left, .home__hero .hero__title__left, .home__hero .hero__title__right, .home__hero .hero__title__dash, .home__hero .hero__title h1.mobile {
  font-size: 32.8rem;
  font-family: "Bebas Neue", cursive;
  word-break: break-word;
}
@media (max-width: 550px) {
  .home__awards .awards-title, .home__hero .hero__title .bottom__left, .home__hero .hero__title__left, .home__hero .hero__title__right, .home__hero .hero__title__dash, .home__hero .hero__title h1.mobile {
    font-size: 160px;
  }
}

.home__contact .marquee__inner .inner-span, .home__projects__project__title {
  font-size: 16rem;
  font-family: "Bebas Neue", cursive;
  letter-spacing: -0.025em;
}
@media (max-width: 550px) {
  .home__contact .marquee__inner .inner-span, .home__projects__project__title {
    font-size: 80px;
    word-break: break-word;
  }
}

.home__stack__paragraph .first-word, .home__content__title, .home__hero .hero__paragraph .first-word, .home__nav, .home__projects__project__label {
  font-size: 12px;
  font-family: "Open Sauce";
  line-height: 1.3;
}

.home__contact__email .to-copy, .home__contact__desc, .home__stack, .home__hero .hero__title .bottom__right {
  font-family: "Open Sauce";
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3;
}
@media (max-width: 768px) {
  .home__contact__email .to-copy, .home__contact__desc, .home__stack, .home__hero .hero__title .bottom__right {
    font-size: 3rem;
  }
}
@media (max-width: 550px) {
  .home__contact__email .to-copy, .home__contact__desc, .home__stack, .home__hero .hero__title .bottom__right {
    font-size: 16px;
  }
}

.home__contact__email .email, .home__awards p, .home__content__desc .contact-scroll, .home__content__desc {
  font-family: "Open Sauce";
  font-size: 3.2rem;
  line-height: 1.3;
  letter-spacing: -0.025em;
}
@media (max-width: 550px) {
  .home__contact__email .email, .home__awards p, .home__content__desc .contact-scroll, .home__content__desc {
    font-size: 32px;
  }
}

.home__footer__right a, .home__awards a, .home__stack__paragraph a, .home__content__desc a {
  color: #777777;
  transition: color 0.3s;
}
@media (any-pointer: fine) {
  .home__footer__right a:hover, .home__awards a:hover, .home__stack__paragraph a:hover, .home__content__desc a:hover {
    color: #cb450c;
  }
}

.home__projects__project {
  color: #777777;
}
.home__projects__project .project__link {
  text-align: right;
  padding-right: 5rem;
  padding-bottom: 3.1rem;
}
@media (min-width: 551px) {
  .home__projects__project .project__link {
    display: none;
  }
}
.home__projects__project .project__link .c-button .c-link__inner > span {
  margin-top: -4px;
  display: block;
}
.home__projects__project .project__link .share-icon {
  position: relative;
  top: 0.3rem;
}
.home__projects__project__label {
  line-height: 1.3;
  display: flex;
  justify-content: flex-end;
}
.home__projects__project__label {
  margin-top: 3.2rem;
  padding-right: 2.2rem;
}
@media (min-width: 769px) {
  .home__projects__project__label {
    padding-right: 17.2rem;
  }
}
.home__projects__project__label .label-1 {
  max-width: 84.3rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.home__projects__project__link {
  pointer-events: none;
}
@media (any-pointer: fine) {
  .home__projects__project__link {
    pointer-events: auto;
  }
}
.home__projects__project__link.gradient .title__main {
  background: linear-gradient(90deg, rgba(233, 227, 198, 0.5) 0%, rgba(233, 198, 217, 0.5) 100%);
  overflow: hidden;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: background 0.3s;
}
.home__projects__project__link.gradient .title__main .slide-up::before {
  background: #cb450c;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.home__projects__project__link .title__main {
  position: relative;
}
@media (max-width: 550px) {
  .home__projects__project__link .title__main.right {
    text-align: right;
  }
}
.home__projects__project__link .title__main .slide-up {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  overflow: hidden;
  transform: translateY(100%);
  transition: transform 275ms ease;
}
@media (any-pointer: fine) {
  .home__projects__project__link .title__main .slide-up {
    display: inline-block;
  }
}
.home__projects__project__link .title__main .slide-up::before {
  display: inline-block;
  content: attr(data-content);
  color: #cb450c;
  transform: translateY(-100%);
  transition: transform 275ms ease;
}
@media (min-width: 769px) {
  .home__projects__project__link .title__main .slide-up::before {
    white-space: nowrap;
  }
}
.home__projects__project__link:hover .title__main .slide-up {
  transform: translateY(0);
}
.home__projects__project__link:hover .title__main .slide-up::before {
  transform: translateY(0);
}
.home__projects__project__title {
  line-height: 1;
  text-transform: uppercase;
  padding-top: 6.4rem;
  padding-bottom: 4.5rem;
}
@media (min-width: 769px) {
  .home__projects__project__title {
    white-space: nowrap;
  }
}
@media (max-width: 550px) {
  .home__projects__project__title {
    padding-top: 3.2rem;
    padding-bottom: 2.4rem;
    line-height: 0.9;
  }
}
.home__projects__project__title .inline-ovh {
  display: inline-flex;
  overflow: hidden;
}

.c-button {
  display: inline-block;
  background: transparent;
  color: #aaaaaa;
  font-size: 16px;
  text-transform: uppercase;
  padding: 5px 8px;
  border: 2px solid #777777;
  border-radius: 45px;
  cursor: pointer;
  transition: all 0.3s;
}
@media (any-pointer: fine) {
  .c-button:hover {
    border-color: #cb450c;
    color: #111111;
    background: #cb450c;
  }
}
.c-button .c-link {
  display: inline-flex;
  align-items: center;
  position: relative;
  z-index: 1;
  overflow: auto;
}
.c-button .c-link__inner {
  display: flex;
  transform: translateY(0);
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.c-button .c-link__inner > span {
  /* white-space: nowrap; */
}
.c-button .c-link__animated {
  /* white-space: nowrap; */
  position: absolute;
  top: 100%;
  display: none;
}
@media (any-pointer: fine) {
  .c-button .c-link__animated {
    display: inline-block;
  }
}
@media (any-pointer: fine) {
  .c-button:hover .c-link__inner {
    transform: translateY(-100%);
  }
}

.c-infinite .c-link {
  display: inline-flex;
  align-items: center;
  position: relative;
  z-index: 1;
  overflow: auto;
}
.c-infinite .c-link__inner {
  display: flex;
  transform: translateY(-100%);
  animation: infiniteArrow 1s infinite cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.c-infinite .c-link__inner > span {
  /* white-space: nowrap; */
  margin-right: 2px;
}
.c-infinite .c-link__animated {
  /* white-space: nowrap; */
  position: absolute;
  top: 100%;
}
@keyframes infiniteArrow {
  100% {
    transform: translateY(0);
  }
}

.home__contact__desc, .home__awards, .home__content, .home__projects, .home__hero, .home__nav {
  padding-left: 4rem;
  padding-right: 4rem;
}
@media (max-width: 550px) {
  .home__contact__desc, .home__awards, .home__content, .home__projects, .home__hero, .home__nav {
    padding-left: 1.6rem;
    padding-right: 1.6rem;
  }
}

.home {
  padding: 2.4rem 0;
}
.home__nav {
  margin-bottom: 6.4rem;
  display: flex;
  justify-content: space-between;
  line-height: 1.4;
}
@media (max-width: 550px) {
  .home__nav .hide-mobile {
    display: none;
  }
}
@media (min-width: 551px) {
  .home__nav .hide-desktop {
    display: none;
  }
}
.home__nav .nav__button {
  flex-shrink: 0;
  flex-grow: 0;
}
.home__nav__left, .home__nav__right {
  text-transform: uppercase;
  justify-content: space-between;
}
@media (min-width: 551px) {
  .home__nav__left, .home__nav__right {
    display: flex;
  }
}
.home__nav__left {
  max-width: 49rem;
  width: 100%;
  margin-right: 5rem;
}
@media (max-width: 550px) {
  .home__nav__left {
    margin-right: 2rem;
    max-width: unset;
  }
}
.home__nav__right {
  max-width: 325px;
  width: 100%;
}
@media (max-width: 550px) {
  .home__nav__right {
    max-width: 175px;
    width: 100%;
    margin-left: auto;
  }
  .home__nav__right br {
    display: none;
  }
}
.home__nav .nav__folio, .home__nav .nav__availability {
  color: #777777;
}
@media (max-width: 550px) {
  .home__nav .nav__folio, .home__nav .nav__availability {
    margin-bottom: 2.4rem;
  }
  .home__nav .nav__folio br, .home__nav .nav__availability br {
    display: none;
  }
}
.home__hero {
  margin-bottom: 9.6rem;
}
.home__hero .hero__title {
  line-height: 0.9;
  color: #777777;
}
@media (max-width: 550px) {
  .home__hero .hero__title h1.desktop {
    display: none;
  }
}
.home__hero .hero__title h1.mobile {
  letter-spacing: -0.05em;
  word-wrap: break-word;
}
@media (min-width: 551px) {
  .home__hero .hero__title h1.mobile {
    display: none;
  }
}
.home__hero .hero__title .hero__hover {
  transition: color 0.2s;
}
@media (any-pointer: fine) {
  .home__hero .hero__title .hero__hover:hover {
    color: #aaaaaa;
  }
}
.home__hero .hero__title__left, .home__hero .hero__title__right, .home__hero .hero__title__dash {
  display: inline-block;
  letter-spacing: -0.105em;
}
.home__hero .hero__title__dash {
  transform: scaleX(1.05);
  will-change: transform;
}
@media (max-width: 768px) {
  .home__hero .hero__title__dash.desktop {
    display: none;
  }
}
@media (min-width: 769px) {
  .home__hero .hero__title__dash.tablet {
    display: none;
  }
}
.home__hero .hero__title__top {
  display: flex;
  justify-content: space-between;
  padding-right: 3rem;
}
.home__hero .hero__title__top, .home__hero .hero__title__bottom {
  width: 100%;
}
.home__hero .hero__title__top__overflow, .home__hero .hero__title__bottom__overflow {
  display: inline-flex;
  width: 100%;
}
.home__hero .hero__title__bottom {
  justify-content: space-between;
}
@media (min-width: 769px) {
  .home__hero .hero__title__bottom {
    display: flex;
  }
}
.home__hero .hero__title .bottom__left {
  letter-spacing: -0.105em;
  flex-shrink: 0;
}
.home__hero .hero__title .bottom__right {
  position: relative;
  z-index: 1;
  max-width: 32.5rem;
  width: 100%;
  padding: 2rem 0 5rem;
  display: flex;
  flex-direction: column;
}
@media (max-width: 768px) {
  .home__hero .hero__title .bottom__right {
    max-width: 55rem;
    padding-bottom: 0;
  }
}
@media (max-width: 550px) {
  .home__hero .hero__title .bottom__right {
    max-width: 255px;
    margin-left: auto;
  }
}
.home__hero .hero__paragraph {
  color: #aaaaaa;
}
.home__hero .hero__paragraph span {
  text-transform: uppercase;
}
.home__hero .hero__paragraph .first-word {
  color: #777777;
}
.home__hero .hero__scroll {
  margin-top: auto;
  color: #777777;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .home__hero .hero__scroll {
    display: none;
  }
}
.home__projects__line {
  position: relative;
  display: inline-block;
  width: 100%;
}
.home__projects__line span {
  height: 2px;
  background: #777777;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  display: inline-block;
}
.home__projects__line.right span {
  left: unset;
  right: 0;
}
.home__content {
  padding-top: 24rem;
  padding-bottom: 24rem;
}
@media (max-width: 550px) {
  .home__content {
    padding-top: 16rem;
    padding-bottom: 16rem;
  }
}
@media (min-width: 769px) {
  .home__content {
    text-align: center;
  }
}
.home__content__title {
  text-transform: uppercase;
  color: #777777;
  margin-bottom: 2.4rem;
}
.home__content__desc {
  max-width: 95rem;
  width: 100%;
}
@media (min-width: 769px) {
  .home__content__desc {
    margin: 0 auto;
  }
}
.home__content__desc .contact-scroll {
  color: #777777;
  transition: color 0.3s;
  background: transparent;
  border: 0;
  padding: 0;
  font-weight: 500;
  cursor: pointer;
}
.home__content__desc .contact-scroll:hover {
  color: #cb450c;
}
.home__stack {
  max-width: 104.4rem;
  margin-left: auto;
  padding-top: 16rem;
  padding-bottom: 24rem;
}
@media (max-width: 550px) {
  .home__stack {
    padding-top: 9.6rem;
    padding-bottom: 16rem;
  }
}
.home__stack__paragraph {
  color: #aaaaaa;
  max-width: 32.5rem;
}
@media (max-width: 768px) {
  .home__stack__paragraph {
    max-width: 55rem;
  }
}
@media (max-width: 550px) {
  .home__stack__paragraph {
    max-width: 35rem;
    margin-left: auto;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
  }
}
.home__stack__paragraph span,
.home__stack__paragraph a {
  color: #777777;
  text-transform: uppercase;
}
.home__awards__top, .home__awards__bottom {
  justify-content: space-between;
}
@media (min-width: 551px) {
  .home__awards__top, .home__awards__bottom {
    display: flex;
  }
}
.home__awards .awards-title {
  color: #777777;
  letter-spacing: -0.05em;
  line-height: 0.9;
}
.home__awards .awards-title.mobile {
  font-size: 99.5px;
  margin-bottom: 1.6rem;
}
@media (min-width: 551px) {
  .home__awards .awards-title.mobile {
    display: none;
  }
}
@media (max-width: 550px) {
  .home__awards .awards-title.desktop {
    display: none;
  }
}
.home__awards p {
  align-self: flex-end;
  max-width: 55.5rem;
}
@media (min-width: 551px) {
  .home__awards p {
    padding-bottom: 5.5rem;
  }
}
@media (min-width: 769px) {
  .home__contact {
    padding-top: 16rem;
  }
}
.home__contact__desc {
  margin: 0;
  margin-bottom: 6.4rem;
  max-width: 44rem;
}
@media (min-width: 769px) {
  .home__contact__desc {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }
}
@media (max-width: 550px) {
  .home__contact__desc {
    max-width: 28.5rem;
  }
}
.home__contact .marquee {
  text-transform: uppercase;
  overflow: hidden;
}
.home__contact .marquee__wrap:hover .marquee__inner {
  animation-play-state: paused;
}
.home__contact .marquee__wrap:hover .marquee__inner:hover .slide-up {
  transform: translateY(0);
}
.home__contact .marquee__wrap:hover .marquee__inner:hover .slide-up::before {
  transform: translateY(0);
}
.home__contact .marquee__inner {
  height: 100%;
  width: fit-content;
  align-items: center;
  display: flex;
  position: relative;
  animation: marquee 25s linear infinite;
  will-change: transform;
  padding-top: 2.4rem;
  padding-bottom: 1rem;
}
@media (min-width: 551px) {
  .home__contact .marquee__inner {
    padding-top: 5.8rem;
    padding-bottom: 2.3rem;
  }
}
.home__contact .marquee__inner span {
  white-space: nowrap;
  padding-left: 2rem;
  padding-right: 2rem;
}
.home__contact .marquee__inner .inner-span {
  text-transform: uppercase;
  color: #777777;
  position: relative;
  overflow: hidden;
}
.home__contact .marquee__inner .inner-span .slide-up {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  transform: translateY(100%);
  transition: transform 275ms ease;
  display: none;
}
@media (any-pointer: fine) {
  .home__contact .marquee__inner .inner-span .slide-up {
    display: inline-block;
  }
}
.home__contact .marquee__inner .inner-span .slide-up::before {
  display: inline-block;
  content: attr(data-content);
  white-space: nowrap;
  color: #cb450c;
  transform: translateY(-100%);
  transition: transform 275ms ease;
}
@keyframes marquee {
  100% {
    transform: translate3d(-50%, 0, 0);
  }
}
.home__contact__email {
  padding-top: 4.8rem;
  padding-bottom: 7.2rem;
  text-align: center;
}
@media (max-width: 550px) {
  .home__contact__email {
    max-width: 255px;
    width: 100%;
    text-align: left;
    margin-left: auto;
    word-break: break-word;
  }
}
.home__contact__email .to-copy {
  display: none;
}
@media (any-pointer: fine) {
  .home__contact__email .to-copy {
    display: block;
    opacity: 0;
    text-transform: uppercase;
    transform: translateY(100%);
    transition: opacity 0.3s, transform 0.3s;
  }
}
.home__contact__email .to-copy span {
  padding: 5px 8px;
  border: 2px solid #777777;
  border-radius: 45px;
}
.home__contact__email .email {
  background: transparent;
  border: 0;
  font-weight: 500;
  cursor: pointer;
  color: #aaaaaa;
  padding: 0;
  margin-bottom: 1.6rem;
}
@media (max-width: 768px) {
  .home__contact__email .email {
    text-align: left;
  }
}
@media (any-pointer: fine) {
  .home__contact__email .email:hover {
    color: #cb450c;
  }
}
.home__contact__email .email:hover + .to-copy {
  transform: translateY(0);
  opacity: 1;
}
.home__footer {
  justify-content: center;
  position: relative;
  padding-bottom: 4rem;
  font-weight: 400;
  font-size: 16px;
}
@media (min-width: 769px) {
  .home__footer {
    display: flex;
  }
}
@media (max-width: 768px) {
  .home__footer {
    margin-left: auto;
    max-width: 40rem;
    width: 100%;
  }
}
@media (max-width: 550px) {
  .home__footer {
    max-width: 255px;
    width: 100%;
  }
}
.home__footer__left {
  display: flex;
  font-family: "Open Sauce";
}
@media (min-width: 769px) {
  .home__footer__left {
    left: 2.4rem;
    position: absolute;
    right: 0;
    top: 1rem;
  }
}
.home__footer__left .place {
  color: #777777;
  margin-right: 1.4rem;
}
.home__footer__left .time {
  position: relative;
}
.home__footer__left .time::before {
  content: "";
  position: absolute;
  background: #111111;
  height: 100%;
  left: 0;
  width: 6px;
}
@media (max-width: 768px) {
  .home__footer__left .time {
    margin-bottom: 2.4rem;
  }
}
@media (min-width: 769px) {
  .home__footer__right {
    right: 2.4rem;
    position: absolute;
    top: 1rem;
  }
}
.home__footer__center .footer__links {
  align-items: center;
}
@media (min-width: 769px) {
  .home__footer__center .footer__links {
    display: flex;
  }
}
@media (max-width: 768px) {
  .home__footer__center .footer__links {
    margin-bottom: 4.8rem;
  }
}
.home__footer__center .footer__links .link__flex {
  display: flex;
  margin-left: auto;
}
@media (max-width: 768px) {
  .home__footer__center .footer__links .link__flex {
    max-width: 40rem;
    width: 100%;
  }
}
@media (max-width: 550px) {
  .home__footer__center .footer__links .link__flex {
    max-width: 255px;
    width: 100%;
  }
}
.home__footer__center .footer__links .link__flex__inner {
  display: flex;
}
@media (max-width: 768px) {
  .home__footer__center .footer__links .link__flex__inner .c-button:first-of-type {
    margin-right: 0.8rem;
  }
}
@media (max-width: 768px) {
  .home__footer__center .footer__links .link__flex__inner.second .c-button:first-of-type {
    margin-right: 0;
  }
  .home__footer__center .footer__links .link__flex__inner.second .c-button:last-of-type {
    margin-right: 0.8rem;
  }
}
@media (min-width: 769px) {
  .home__footer__center .footer__links .link__flex__inner:last-of-type {
    margin-left: 0.8rem;
  }
}
@media (max-width: 768px) {
  .home__footer__center .footer__links .link__flex__inner.second {
    margin-top: 1.6rem;
    flex-direction: row-reverse;
  }
}
@media (min-width: 769px) {
  .home__footer__center .footer__links .c-button:not(:last-of-type) {
    margin-right: 0.8rem;
  }
}

/*# sourceMappingURL=/scss.6b84482b.css.map */