@font-face {
  font-family: $font-sauce;
  src: url("../fonts/opensauce-medium.woff2") format("woff2"),
    url("../fonts/opensauce-medium.woff2") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
