.home {
  padding: 2.4rem 4rem;
  margin: 0 auto;

  &__nav {
    margin-bottom: 6.4rem;
    display: flex;
    justify-content: space-between;
    @extend %description-12;
    line-height: 1.4;

    &__left,
    &__right {
      display: flex;
      text-transform: uppercase;
      justify-content: space-between;
    }

    &__left {
      max-width: 49rem;
      width: 100%;
      margin-right: 5rem;
    }

    &__right {
      max-width: 32.5rem;
      width: 100%;
    }

    .nav {
      &__folio,
      &__availability {
        color: $col-boulder;
      }
    }
  }

  &__hero {
    margin-bottom: 9.6rem;

    .hero {
      &__title {
        line-height: 0.9;
        color: $col-boulder;

        .hero__hover {
          transition: color 0.2s;

          &:hover {
            color: $col-gray;
          }
        }

        &__left,
        &__right,
        &__dash {
          display: inline-block;
          @extend %title-328;
          letter-spacing: -0.105em;
        }

        &__dash {
          transform: scaleX(1.05);
        }

        &__top {
          display: flex;
          justify-content: space-between;
          padding-right: 3rem;
        }

        &__top,
        &__bottom {
          width: 100%;

          &__overflow {
            display: inline-flex;
            width: 100%;
          }
        }

        &__bottom {
          display: flex;
          justify-content: space-between;
        }
        .bottom__left {
          @extend %title-328;
          letter-spacing: -0.105em;
          flex-shrink: 0;
        }

        .bottom__right {
          @extend %description-16;
          position: relative;
          z-index: 1;
          max-width: 32.5rem;
          width: 100%;
          padding: 2rem 0 5rem;
          display: flex;
          flex-direction: column;
        }
      }

      &__paragraph {
        color: $col-gray;

        span {
          text-transform: uppercase;
        }

        .first-word {
          @extend %description-12;
        }
      }

      &__scroll {
        margin-top: auto;
        color: $col-boulder;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }

  &__projects {
    &__line {
      position: relative;
      display: inline-block;
      width: 100%;
      span {
        height: 2px;
        background: $col-boulder;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        display: inline-block;
      }

      &.right {
        span {
          left: unset;
          right: 0;
        }
      }
    }
  }

  &__content {
    padding: 24rem 0;
    text-align: center;

    &__title {
      @extend %description-12;
      text-transform: uppercase;
      color: $col-boulder;
      margin-bottom: 2.4rem;
    }

    &__desc {
      @extend %description-32;
      max-width: 95rem;
      margin: 0 auto;
      width: 100%;
      @extend %links;

      .contact-scroll {
        color: $col-boulder;
        transition: color 0.3s;
        background: transparent;
        border: 0;
        @extend %description-32;
        font-weight: 500;
        cursor: pointer;

        &:hover {
          color: $col-orange;
        }
      }
    }
  }

  &__stack {
    max-width: 104.4rem;
    margin-left: auto;
    padding-top: 16rem;
    padding-bottom: 24rem;
    @extend %description-16;

    &__paragraph {
      color: $col-gray;
      max-width: 32.5rem;

      span,
      a {
        color: $col-boulder;
        text-transform: uppercase;
      }

      @extend %links;

      .first-word {
        @extend %description-12;
      }
    }
  }

  &__awards {
    &__top,
    &__bottom {
      display: flex;
      justify-content: space-between;
    }
    h3 {
      @extend %title-328;
      color: $col-boulder;
      letter-spacing: -0.05em;
      line-height: 0.9;
    }
    @extend %links;

    p {
      align-self: flex-end;
      @extend %description-32;
      max-width: 55.5rem;
      padding-bottom: 5.5rem;
    }
  }

  &__contact {
    padding-top: 16rem;

    &__desc {
      @extend %description-16;
      max-width: 44rem;
      text-align: center;
      margin: 0 auto;
      margin-bottom: 6.4rem;
    }

    .marquee {
      text-transform: uppercase;

      &__wrap {
        &:hover {
          .marquee__inner {
            &:hover {
              .slide-up {
                transform: translateY(0);

                &::before {
                  transform: translateY(0);
                }
              }
            }
          }
        }
      }

      &__inner {
        height: 100%;
        width: fit-content;
        align-items: center;
        display: flex;
        position: relative;
        animation: marquee 25s linear infinite;
        will-change: transform;
        padding-top: 5.8rem;
        padding-bottom: 2.3rem;

        span {
          white-space: nowrap;
          padding-left: 2rem;
          padding-right: 2rem;
        }

        .inner-span {
          text-transform: uppercase;
          @extend %title-160;
          color: $col-boulder;
          position: relative;
          overflow: hidden;

          .slide-up {
            position: absolute;
            top: 0;
            left: 0;
            overflow: hidden;
            transform: translateY(100%);
            transition: transform 275ms ease;

            &::before {
              display: inline-block;
              content: attr(data-content);
              white-space: nowrap;
              color: $col-orange;
              transform: translateY(-100%);
              transition: transform 275ms ease;
            }
          }
        }
      }

      @keyframes marquee {
        100% {
          transform: translate3d(-50%, 0, 0);
        }
      }
    }
  }
}

.home__projects__project {
  color: $col-boulder;

  &__label {
    @extend %description-12;
    line-height: 1.3;
    display: flex;
    justify-content: flex-end;
  }

  &__label {
    margin-top: 3.2rem;
    padding-right: 17.2rem;

    .label-1 {
      max-width: 84.3rem;
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  }

  &__link {
    &.gradient {
      .title__main {
        background: $gradient;
        overflow: hidden;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: background 0.3s;

        .slide-up {
          &::before {
            background: $col-orange;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }
      }
    }

    .title__main {
      position: relative;
      .slide-up {
        position: absolute;
        top: 0;
        left: 0;
        overflow: hidden;
        transform: translateY(100%);
        transition: transform 275ms ease;

        &::before {
          display: inline-block;
          content: attr(data-content);
          white-space: nowrap;
          color: $col-orange;
          transform: translateY(-100%);
          transition: transform 275ms ease;
        }
      }
    }

    &:hover {
      .title__main {
        .slide-up {
          transform: translateY(0);

          &::before {
            transform: translateY(0);
          }
        }
      }
    }
  }

  &__title {
    @extend %title-160;
    line-height: 1;
    white-space: nowrap;
    text-transform: uppercase;
    padding-top: 6.4rem;
    padding-bottom: 4.5rem;
    .inline-ovh {
      display: inline-flex;
      overflow: hidden;
    }
  }
}
